:root {
    --branding-color: #2C3639;
    --default-color: #DCD7C9;
    --secondary-color: #7fa99b;
    --heading-font-family: 'Shadows Into Light',
        cursive;
    --default-font-family: 'Courier New',
        Courier,
        monospace;
    --default-border-radius: 25px;
}

body {
    font-family: var(--default-font-family);
}

.hero {
    background-color: var(--branding-color);
    color: var(--default-color);
    text-align: center;
    padding: 160px 20px;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    font-family: var(--heading-font-family);
}

h2 {
    padding: 10px;
    font-size: 30px;
    font-weight: 550;
}

h3 {
    font-size: 15px;
}

p {
    font-family: var(--default-font-family);
}

.btn-branding {
    background: var(--secondary-color);
    border-radius: var(--default-border-radius);
    color: var(--branding-color);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    padding: 12px 20px;
}

.btn-branding:hover {
    background-color: var(--default-color);
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

.btn-primary {
    border-color: var(--secondary-color);
    background-color: white;
    color: var(--secondary-color);
    border-radius: var(--default-border-radius);
}

.btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: white;
}

.about-section {
    padding: 160px 50px;
}

.about-section h1 {
    font-size: 40px;
    padding: 0;
}

.about-section h2 {
    font-size: 20px;
    padding: 0;
}

.about-section p {
    padding: 0;
}

.footer {
    text-align: center;
}

.contact-section {
    text-align: center;
}

.project-section h1 {
    padding: 140px 20px;
    text-align: center;
}

@media (max-width: 768px) {
    h1 {
        font-size: 50px;
        padding: 40px;
    }

    h2 {
        font-size: 20px;
    }

    .project-description {
        padding: 0;
        text-align: center;
    }

    .about-section {
        text-align: center;
        padding: 70px 20px;
    }

    .about-section p {
        font-size: 15px;
    }
}